h1, h2, div, header, ul, ol, body { padding: 0px; margin: 0px }
body {
  color: #fff;
  font-family:  'Hiragino Kaku Gothic Pro', Meiry;
  background-color: #010;
}

h1 { color: #f00; font-size: 1em; margin-bottom: 1em }
h2 { font-size: 1em }
nav { padding-bottom: 5em }
.subtitle { text-align:right; font-size: 0.5em; border-top: 1px solid #c00 }

.article-body { color: #6d885f; font-size: 0.8em; padding-left: 2em; padding-right: 2em }
.imikowa, .futukowa { color: #fff; font-size: 1.2em; line-height: 2 }
.imikowa { margin-bottom: 7em }
.futukowa { margin-bottom: 1em }

@media screen and (min-width: 733px) {
  .article-header, .article-body, nav { margin-left: 20%; margin-right: 20%}
}
@media screen and ( max-width: 732px ) {
  .article-header, .article-body, nav { margin-left: 15px; margin-right: 15px}
}
